body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#myButton {
    padding: 15px 40px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.myLabels {
    margin: 20px;
    font-size: 30px;
}