body {
    font-family: monospace;
    background-color: #f4f4f4;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock-container {
    text-align: center;
}

#clock {
    font-size: 6.5rem;
}

#day {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
