body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#textBox {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

label {
    font-size: 23px;
}

#toFahrenheit {
    margin-top: 30px;
}

input[type="radio"] {
  transform: scale(2);
  margin: 13px;
}

button {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

button:active {
    background-color: yellow;
    color: black;
}

#result {
    font-size: 20px;
}